USE [master]
GO
/****** Object:  Database [BCM]    Script Date: 2/25/2021 12:03:51 PM ******/
CREATE DATABASE [BCM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BCM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BCM.mdf' , SIZE = 17600KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BCM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BCM_log.ldf' , SIZE = 8512KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BCM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BCM]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/25/2021 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AreaOfInterests]    Script Date: 2/25/2021 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AreaOfInterests](
	[AreaOfInterestId] [uniqueidentifier] NOT NULL,
	[InterestTitle] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AreaOfInterests] PRIMARY KEY CLUSTERED 
(
	[AreaOfInterestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 2/25/2021 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Countries] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Credentials]    Script Date: 2/25/2021 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credentials](
	[CredentialsId] [uniqueidentifier] NOT NULL,
	[CredentialsTitle] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Credentials] PRIMARY KEY CLUSTERED 
(
	[CredentialsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Credentials$]    Script Date: 2/25/2021 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credentials$](
	[Title] [nvarchar](255) NULL,
	[F2] [nvarchar](255) NULL,
	[F3] [nvarchar](255) NULL,
	[F4] [nvarchar](255) NULL,
	[F5] [nvarchar](255) NULL,
	[F6] [nvarchar](255) NULL,
	[F7] [nvarchar](255) NULL,
	[F8] [nvarchar](255) NULL,
	[F9] [nvarchar](255) NULL,
	[F10] [nvarchar](255) NULL,
	[F11] [nvarchar](255) NULL,
	[F12] [nvarchar](255) NULL,
	[F13] [nvarchar](255) NULL,
	[F14] [nvarchar](255) NULL,
	[F15] [nvarchar](255) NULL,
	[F16] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disciplines]    Script Date: 2/25/2021 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disciplines](
	[DisciplineId] [uniqueidentifier] NOT NULL,
	[DisciplineTitle] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Disciplines] PRIMARY KEY CLUSTERED 
(
	[DisciplineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForgotPasswordLinks]    Script Date: 2/25/2021 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForgotPasswordLinks](
	[ForgotPasswordLinkID] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Link] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ForgotPasswordLinks] PRIMARY KEY CLUSTERED 
(
	[ForgotPasswordLinkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Languages]    Script Date: 2/25/2021 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[LanguageId] [uniqueidentifier] NOT NULL,
	[LanguageTitle] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Languages] PRIMARY KEY CLUSTERED 
(
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 2/25/2021 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[LogId] [uniqueidentifier] NOT NULL,
	[Operation] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[EventType] [int] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Logs] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhysicianCredentials]    Script Date: 2/25/2021 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhysicianCredentials](
	[PhysicianCredentialsId] [uniqueidentifier] NOT NULL,
	[PhysicianId] [uniqueidentifier] NOT NULL,
	[CredentialsId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.PhysicianCredentials] PRIMARY KEY CLUSTERED 
(
	[PhysicianCredentialsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhysicianDisciplines]    Script Date: 2/25/2021 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhysicianDisciplines](
	[PhysicianDisciplineId] [uniqueidentifier] NOT NULL,
	[PhysicianId] [uniqueidentifier] NOT NULL,
	[DisciplineId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.PhysicianDisciplines] PRIMARY KEY CLUSTERED 
(
	[PhysicianDisciplineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhysicianLanguages]    Script Date: 2/25/2021 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhysicianLanguages](
	[PhysicianLanguageId] [uniqueidentifier] NOT NULL,
	[PhysicianId] [uniqueidentifier] NOT NULL,
	[LanguageId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.PhysicianLanguages] PRIMARY KEY CLUSTERED 
(
	[PhysicianLanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Physicians]    Script Date: 2/25/2021 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Physicians](
	[PhysicianId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[ProfileImage] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[DirectPhone] [nvarchar](max) NULL,
	[OfficePhone] [nvarchar](max) NULL,
	[JoiningDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Physicians] PRIMARY KEY CLUSTERED 
(
	[PhysicianId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhysicianSpecialties]    Script Date: 2/25/2021 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhysicianSpecialties](
	[PhysicianSpecialityId] [uniqueidentifier] NOT NULL,
	[PhysicianId] [uniqueidentifier] NOT NULL,
	[SpecialtyId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.PhysicianSpecialties] PRIMARY KEY CLUSTERED 
(
	[PhysicianSpecialityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhysicianTreatmentTeams]    Script Date: 2/25/2021 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhysicianTreatmentTeams](
	[PhysicianTreatmentId] [uniqueidentifier] NOT NULL,
	[PhyicianId] [uniqueidentifier] NOT NULL,
	[TreatmentTeamId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.PhysicianTreatmentTeams] PRIMARY KEY CLUSTERED 
(
	[PhysicianTreatmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialties]    Script Date: 2/25/2021 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialties](
	[SpecialtyId] [uniqueidentifier] NOT NULL,
	[SpecialtyTitle] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Specialties] PRIMARY KEY CLUSTERED 
(
	[SpecialtyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 2/25/2021 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateId] [uniqueidentifier] NOT NULL,
	[StateTitle] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CountryId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.States] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TreatmentTeams]    Script Date: 2/25/2021 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreatmentTeams](
	[TreatmentTeamId] [uniqueidentifier] NOT NULL,
	[DiseaseTitle] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.TreatmentTeams] PRIMARY KEY CLUSTERED 
(
	[TreatmentTeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAreaOfInterests]    Script Date: 2/25/2021 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAreaOfInterests](
	[UserAreaOfInterestId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[AreaOfInterestId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.UserAreaOfInterests] PRIMARY KEY CLUSTERED 
(
	[UserAreaOfInterestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/25/2021 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[ProfileImage] [nvarchar](250) NULL,
	[Address] [nvarchar](500) NULL,
	[WorkAt] [nvarchar](250) NULL,
	[Bio] [nvarchar](250) NULL,
	[UserType] [int] NOT NULL,
	[UserStatus] [int] NOT NULL,
	[PhoneNumber] [nvarchar](100) NULL,
	[CountryId] [uniqueidentifier] NOT NULL,
	[StateId] [uniqueidentifier] NOT NULL,
	[Zip] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[AccessToken] [nvarchar](max) NULL,
	[TokenIssueDate] [datetime] NOT NULL,
	[TokenExpiryDate] [datetime] NOT NULL,
	[City] [nvarchar](100) NULL,
	[Specialty] [nvarchar](100) NULL,
	[DeviceType] [nvarchar](100) NULL,
	[DeviceToken] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AreaOfInterests] ([AreaOfInterestId], [InterestTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'47339d93-e52b-eb11-82d3-bc305bde00b7', N'Medical Oncology', CAST(N'2020-11-21T15:37:39.880' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[AreaOfInterests] ([AreaOfInterestId], [InterestTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'48339d93-e52b-eb11-82d3-bc305bde00b7', N'Surgical Oncology', CAST(N'2020-11-21T15:37:39.880' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[AreaOfInterests] ([AreaOfInterestId], [InterestTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'49339d93-e52b-eb11-82d3-bc305bde00b7', N'Radiation Oncology', CAST(N'2020-11-21T15:37:39.880' AS DateTime), NULL, NULL, NULL, 1)
GO
INSERT [dbo].[Countries] ([CountryId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Name], [IsActive]) VALUES (N'3b9c0283-2a18-eb11-82ca-bc305bde00b7', CAST(N'2020-10-27T13:00:44.060' AS DateTime), NULL, NULL, NULL, N'United States', 1)
INSERT [dbo].[Countries] ([CountryId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Name], [IsActive]) VALUES (N'3c9c0283-2a18-eb11-82ca-bc305bde00b7', CAST(N'2020-10-27T13:00:44.060' AS DateTime), NULL, NULL, NULL, N'Canada', 1)
INSERT [dbo].[Countries] ([CountryId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Name], [IsActive]) VALUES (N'3d9c0283-2a18-eb11-82ca-bc305bde00b7', CAST(N'2020-10-27T13:00:44.060' AS DateTime), NULL, NULL, NULL, N'Mexico', 1)
GO
INSERT [dbo].[Credentials] ([CredentialsId], [CredentialsTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'42b6d5ac-a617-eb11-82ca-bc305bde00b7', N'MD', CAST(N'2020-10-26T19:29:50.360' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[Credentials] ([CredentialsId], [CredentialsTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'43b6d5ac-a617-eb11-82ca-bc305bde00b7', N'PhD', CAST(N'2020-10-26T19:29:50.360' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[Credentials] ([CredentialsId], [CredentialsTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'920503bc-a617-eb11-82ca-bc305bde00b7', N'PA', CAST(N'2020-10-26T19:29:50.360' AS DateTime), NULL, NULL, NULL, 1)
GO
INSERT [dbo].[Credentials$] ([Title], [F2], [F3], [F4], [F5], [F6], [F7], [F8], [F9], [F10], [F11], [F12], [F13], [F14], [F15], [F16]) VALUES (N'APRN', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Credentials$] ([Title], [F2], [F3], [F4], [F5], [F6], [F7], [F8], [F9], [F10], [F11], [F12], [F13], [F14], [F15], [F16]) VALUES (N'Bchir', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Credentials$] ([Title], [F2], [F3], [F4], [F5], [F6], [F7], [F8], [F9], [F10], [F11], [F12], [F13], [F14], [F15], [F16]) VALUES (N'BS', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Disciplines] ([DisciplineId], [DisciplineTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'd56726a0-9917-eb11-82ca-bc305bde00b7', N'Cardio Oncology', CAST(N'2020-10-26T19:29:50.360' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[Disciplines] ([DisciplineId], [DisciplineTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'cc4c07b1-9917-eb11-82ca-bc305bde00b7', N'dermatology', CAST(N'2020-10-26T19:29:50.360' AS DateTime), NULL, CAST(N'2020-12-09T16:42:57.907' AS DateTime), NULL, 1)
INSERT [dbo].[Disciplines] ([DisciplineId], [DisciplineTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'dd87c2ba-9917-eb11-82ca-bc305bde00b7', N'Endocrinology', CAST(N'2020-10-26T19:29:50.360' AS DateTime), NULL, NULL, NULL, 1)
GO
INSERT [dbo].[Languages] ([LanguageId], [LanguageTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'36ad00b0-9717-eb11-82ca-bc305bde00b7', N'English', CAST(N'2020-10-26T19:29:50.360' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[Languages] ([LanguageId], [LanguageTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'c88f78d0-9717-eb11-82ca-bc305bde00b7', N'Spanish', CAST(N'2020-10-26T19:29:50.360' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[Languages] ([LanguageId], [LanguageTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'f97103da-9717-eb11-82ca-bc305bde00b7', N'Portuguese
', CAST(N'2020-10-26T19:29:50.360' AS DateTime), NULL, NULL, NULL, 1)
GO
INSERT [dbo].[Logs] ([LogId], [Operation], [Description], [EventType], [UserId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'c491f8c2-9a38-eb11-a7a4-002713c18b76', N'Login', N'email login through = asad@lntechnologies.com, password entring Karachi1@3 , user type Admin', 6, N'c410a4f3-9934-eb11-82d5-bc305bde00b7', CAST(N'2020-12-07T19:44:51.913' AS DateTime), N'MuhammadAsad', NULL, NULL, 1)
INSERT [dbo].[Logs] ([LogId], [Operation], [Description], [EventType], [UserId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'5f9145c5-9b38-eb11-a7a4-002713c18b76', N'Login', N'email login through = asad@lntechnologies.com, password entring Karachi1@3 , user type Admin', 6, N'c410a4f3-9934-eb11-82d5-bc305bde00b7', CAST(N'2020-12-07T19:52:05.460' AS DateTime), N'MuhammadAsad', NULL, NULL, 1)
INSERT [dbo].[Logs] ([LogId], [Operation], [Description], [EventType], [UserId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'b05650a3-9e38-eb11-a7a4-002713c18b76', N'Login', N'email login through = asad@lntechnologies.com, password entring Karachi1@3 , user type Admin', 6, N'c410a4f3-9934-eb11-82d5-bc305bde00b7', CAST(N'2020-12-07T20:12:36.980' AS DateTime), N'MuhammadAsad', NULL, NULL, 1)
GO
INSERT [dbo].[PhysicianCredentials] ([PhysicianCredentialsId], [PhysicianId], [CredentialsId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'8ab38364-5039-eb11-a7a4-002713c18b76', N'62f52988-9c1e-eb11-82ca-bc305bde00b7', N'42b6d5ac-a617-eb11-82ca-bc305bde00b7', CAST(N'2020-12-08T17:25:02.083' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[PhysicianCredentials] ([PhysicianCredentialsId], [PhysicianId], [CredentialsId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'3270a393-da3a-eb11-a7a5-002713c18b76', N'0af0cc6f-da3a-eb11-a7a5-002713c18b76', N'42b6d5ac-a617-eb11-82ca-bc305bde00b7', CAST(N'2020-12-10T16:26:42.897' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[PhysicianCredentials] ([PhysicianCredentialsId], [PhysicianId], [CredentialsId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'cd5a6e6d-9e1e-eb11-82ca-bc305bde00b7', N'63f52988-9c1e-eb11-82ca-bc305bde00b7', N'42b6d5ac-a617-eb11-82ca-bc305bde00b7', CAST(N'2020-11-04T18:05:36.450' AS DateTime), NULL, NULL, NULL, 1)
GO
INSERT [dbo].[PhysicianDisciplines] ([PhysicianDisciplineId], [PhysicianId], [DisciplineId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'8bb38364-5039-eb11-a7a4-002713c18b76', N'62f52988-9c1e-eb11-82ca-bc305bde00b7', N'd56726a0-9917-eb11-82ca-bc305bde00b7', CAST(N'2020-12-08T17:25:02.197' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[PhysicianDisciplines] ([PhysicianDisciplineId], [PhysicianId], [DisciplineId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'8cb38364-5039-eb11-a7a4-002713c18b76', N'62f52988-9c1e-eb11-82ca-bc305bde00b7', N'cc4c07b1-9917-eb11-82ca-bc305bde00b7', CAST(N'2020-12-08T17:25:02.287' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[PhysicianDisciplines] ([PhysicianDisciplineId], [PhysicianId], [DisciplineId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'3370a393-da3a-eb11-a7a5-002713c18b76', N'0af0cc6f-da3a-eb11-a7a5-002713c18b76', N'4890b2db-9917-eb11-82ca-bc305bde00b7', CAST(N'2020-12-10T16:26:42.963' AS DateTime), NULL, NULL, NULL, 1)
GO
INSERT [dbo].[PhysicianLanguages] ([PhysicianLanguageId], [PhysicianId], [LanguageId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'3570a393-da3a-eb11-a7a5-002713c18b76', N'0af0cc6f-da3a-eb11-a7a5-002713c18b76', N'c88f78d0-9717-eb11-82ca-bc305bde00b7', CAST(N'2020-12-10T16:26:43.083' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[PhysicianLanguages] ([PhysicianLanguageId], [PhysicianId], [LanguageId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'512f42cf-9d1e-eb11-82ca-bc305bde00b7', N'63f52988-9c1e-eb11-82ca-bc305bde00b7', N'36ad00b0-9717-eb11-82ca-bc305bde00b7', CAST(N'2020-11-04T18:01:11.083' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[PhysicianLanguages] ([PhysicianLanguageId], [PhysicianId], [LanguageId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'522f42cf-9d1e-eb11-82ca-bc305bde00b7', N'65f52988-9c1e-eb11-82ca-bc305bde00b7', N'36ad00b0-9717-eb11-82ca-bc305bde00b7', CAST(N'2020-11-04T18:01:11.083' AS DateTime), NULL, NULL, NULL, 1)
GO
INSERT [dbo].[Physicians] ([PhysicianId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [FirstName], [LastName], [ProfileImage], [Email], [DirectPhone], [OfficePhone], [JoiningDate], [Status], [IsActive]) VALUES (N'0af0cc6f-da3a-eb11-a7a5-002713c18b76', CAST(N'2020-12-10T16:25:42.757' AS DateTime), NULL, CAST(N'2020-12-10T16:26:42.757' AS DateTime), NULL, N'a a', N'ali', NULL, NULL, N'1321412412', N'2343252353', CAST(N'2020-12-01T00:00:00.000' AS DateTime), 0, 1)
INSERT [dbo].[Physicians] ([PhysicianId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [FirstName], [LastName], [ProfileImage], [Email], [DirectPhone], [OfficePhone], [JoiningDate], [Status], [IsActive]) VALUES (N'63f52988-9c1e-eb11-82ca-bc305bde00b7', CAST(N'2020-11-04T17:52:02.310' AS DateTime), NULL, NULL, NULL, N'Abbas', N'Rana', N'aXv30Ann867Gp7aGJ/7ehr/dbFKKoS2u+VGTCAHyyomSBpspujeOnrioHcv1TZF/rqoMTmhCwlGkqOwqS4NS2Qokh79Qdc+Liq1mqhWjH6sc40f6QKcwJ0g7rKiPW1G0rFl/2uwmtyQ=', N'Abbasr@bcm.edu', NULL, N'832.355.1400 ', CAST(N'2020-11-04T17:52:02.310' AS DateTime), 1, 1)
GO
INSERT [dbo].[PhysicianSpecialties] ([PhysicianSpecialityId], [PhysicianId], [SpecialtyId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'8db38364-5039-eb11-a7a4-002713c18b76', N'62f52988-9c1e-eb11-82ca-bc305bde00b7', N'39cace87-8334-eb11-82d5-bc305bde00b7', CAST(N'2020-12-08T17:25:02.530' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[PhysicianSpecialties] ([PhysicianSpecialityId], [PhysicianId], [SpecialtyId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'3670a393-da3a-eb11-a7a5-002713c18b76', N'0af0cc6f-da3a-eb11-a7a5-002713c18b76', N'3bcace87-8334-eb11-82d5-bc305bde00b7', CAST(N'2020-12-10T16:26:43.130' AS DateTime), NULL, NULL, NULL, 1)
GO
INSERT [dbo].[PhysicianTreatmentTeams] ([PhysicianTreatmentId], [PhyicianId], [TreatmentTeamId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'8eb38364-5039-eb11-a7a4-002713c18b76', N'62f52988-9c1e-eb11-82ca-bc305bde00b7', N'41e8d06b-8334-eb11-82d5-bc305bde00b7', CAST(N'2020-12-08T17:25:02.727' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[PhysicianTreatmentTeams] ([PhysicianTreatmentId], [PhyicianId], [TreatmentTeamId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'3770a393-da3a-eb11-a7a5-002713c18b76', N'0af0cc6f-da3a-eb11-a7a5-002713c18b76', N'3de8d06b-8334-eb11-82d5-bc305bde00b7', CAST(N'2020-12-10T16:26:43.183' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[PhysicianTreatmentTeams] ([PhysicianTreatmentId], [PhyicianId], [TreatmentTeamId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'e4ad820e-8a34-eb11-82d5-bc305bde00b7', N'65f52988-9c1e-eb11-82ca-bc305bde00b7', N'3be8d06b-8334-eb11-82d5-bc305bde00b7', CAST(N'2020-12-02T15:35:12.847' AS DateTime), NULL, NULL, NULL, 1)
GO
INSERT [dbo].[Specialties] ([SpecialtyId], [SpecialtyTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'36cace87-8334-eb11-82d5-bc305bde00b7', N'Acoustic neuroma surgery', CAST(N'2020-12-02T14:48:29.873' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[Specialties] ([SpecialtyId], [SpecialtyTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'37cace87-8334-eb11-82d5-bc305bde00b7', N'Advanced skin cancer reconstruction ', CAST(N'2020-12-02T14:48:29.873' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[Specialties] ([SpecialtyId], [SpecialtyTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'38cace87-8334-eb11-82d5-bc305bde00b7', N'Barrett''s esophagus & esophageal cancer diagnosis & treatment', CAST(N'2020-12-02T14:48:29.873' AS DateTime), NULL, NULL, NULL, 1)
GO
INSERT [dbo].[States] ([StateId], [StateTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive], [CountryId]) VALUES (N'478cf532-2c18-eb11-82ca-bc305bde00b7', N'Alabama', CAST(N'2020-10-27T13:12:48.750' AS DateTime), NULL, NULL, NULL, 1, N'3b9c0283-2a18-eb11-82ca-bc305bde00b7')
INSERT [dbo].[States] ([StateId], [StateTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive], [CountryId]) VALUES (N'488cf532-2c18-eb11-82ca-bc305bde00b7', N'Alaska', CAST(N'2020-10-27T13:12:48.750' AS DateTime), NULL, NULL, NULL, 1, N'3b9c0283-2a18-eb11-82ca-bc305bde00b7')
INSERT [dbo].[States] ([StateId], [StateTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive], [CountryId]) VALUES (N'498cf532-2c18-eb11-82ca-bc305bde00b7', N'American Samoa', CAST(N'2020-10-27T13:12:48.750' AS DateTime), NULL, NULL, NULL, 1, N'3b9c0283-2a18-eb11-82ca-bc305bde00b7')
GO
INSERT [dbo].[TreatmentTeams] ([TreatmentTeamId], [DiseaseTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'3be8d06b-8334-eb11-82d5-bc305bde00b7', N'Brain & Neuro Cancers', CAST(N'2020-12-02T14:47:42.893' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[TreatmentTeams] ([TreatmentTeamId], [DiseaseTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'3ce8d06b-8334-eb11-82d5-bc305bde00b7', N'Breast Cancer ­Lester & Sue Smith Breast Center', CAST(N'2020-12-02T14:47:42.893' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[TreatmentTeams] ([TreatmentTeamId], [DiseaseTitle], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (N'3de8d06b-8334-eb11-82d5-bc305bde00b7', N'Cancer Cell and Gene Therapy/BMT/Immunotherapy', CAST(N'2020-12-02T14:47:42.893' AS DateTime), NULL, NULL, NULL, 1)
GO
/****** Object:  Index [IX_UserId]    Script Date: 2/25/2021 12:03:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[ForgotPasswordLinks]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 2/25/2021 12:03:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Logs]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CredentialsId]    Script Date: 2/25/2021 12:03:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_CredentialsId] ON [dbo].[PhysicianCredentials]
(
	[CredentialsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhysicianId]    Script Date: 2/25/2021 12:03:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhysicianId] ON [dbo].[PhysicianCredentials]
(
	[PhysicianId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DisciplineId]    Script Date: 2/25/2021 12:03:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_DisciplineId] ON [dbo].[PhysicianDisciplines]
(
	[DisciplineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhysicianId]    Script Date: 2/25/2021 12:03:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhysicianId] ON [dbo].[PhysicianDisciplines]
(
	[PhysicianId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LanguageId]    Script Date: 2/25/2021 12:03:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_LanguageId] ON [dbo].[PhysicianLanguages]
(
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhysicianId]    Script Date: 2/25/2021 12:03:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhysicianId] ON [dbo].[PhysicianLanguages]
(
	[PhysicianId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhysicianId]    Script Date: 2/25/2021 12:03:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhysicianId] ON [dbo].[PhysicianSpecialties]
(
	[PhysicianId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SpecialtyId]    Script Date: 2/25/2021 12:03:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_SpecialtyId] ON [dbo].[PhysicianSpecialties]
(
	[SpecialtyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhyicianId]    Script Date: 2/25/2021 12:03:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhyicianId] ON [dbo].[PhysicianTreatmentTeams]
(
	[PhyicianId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TreatmentTeamId]    Script Date: 2/25/2021 12:03:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_TreatmentTeamId] ON [dbo].[PhysicianTreatmentTeams]
(
	[TreatmentTeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CountryId]    Script Date: 2/25/2021 12:03:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_CountryId] ON [dbo].[States]
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AreaOfInterestId]    Script Date: 2/25/2021 12:03:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_AreaOfInterestId] ON [dbo].[UserAreaOfInterests]
(
	[AreaOfInterestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 2/25/2021 12:03:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserAreaOfInterests]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CountryId]    Script Date: 2/25/2021 12:03:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_CountryId] ON [dbo].[Users]
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StateId]    Script Date: 2/25/2021 12:03:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_StateId] ON [dbo].[Users]
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AreaOfInterests] ADD  DEFAULT (newsequentialid()) FOR [AreaOfInterestId]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (newsequentialid()) FOR [CountryId]
GO
ALTER TABLE [dbo].[Credentials] ADD  DEFAULT (newsequentialid()) FOR [CredentialsId]
GO
ALTER TABLE [dbo].[Disciplines] ADD  CONSTRAINT [DF_Disciplines_DisciplineId]  DEFAULT (newsequentialid()) FOR [DisciplineId]
GO
ALTER TABLE [dbo].[ForgotPasswordLinks] ADD  DEFAULT (newsequentialid()) FOR [ForgotPasswordLinkID]
GO
ALTER TABLE [dbo].[Languages] ADD  DEFAULT (newsequentialid()) FOR [LanguageId]
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT (newsequentialid()) FOR [LogId]
GO
ALTER TABLE [dbo].[PhysicianCredentials] ADD  CONSTRAINT [DF_PhysicianCredentials_PhysicianCredentialsId]  DEFAULT (newsequentialid()) FOR [PhysicianCredentialsId]
GO
ALTER TABLE [dbo].[PhysicianDisciplines] ADD  CONSTRAINT [DF_PhysicianDisciplines_PhysicianDisciplineId]  DEFAULT (newsequentialid()) FOR [PhysicianDisciplineId]
GO
ALTER TABLE [dbo].[PhysicianLanguages] ADD  CONSTRAINT [DF_PhysicianLanguages_PhysicianLanguageId]  DEFAULT (newsequentialid()) FOR [PhysicianLanguageId]
GO
ALTER TABLE [dbo].[Physicians] ADD  CONSTRAINT [DF_Physicians_PhysicianId]  DEFAULT (newsequentialid()) FOR [PhysicianId]
GO
ALTER TABLE [dbo].[PhysicianSpecialties] ADD  CONSTRAINT [DF_PhysicianSpecialties_PhysicianSpecialityId]  DEFAULT (newsequentialid()) FOR [PhysicianSpecialityId]
GO
ALTER TABLE [dbo].[PhysicianTreatmentTeams] ADD  CONSTRAINT [DF_PhysicianTreatmentTeams_PhysicianTreatmentId]  DEFAULT (newsequentialid()) FOR [PhysicianTreatmentId]
GO
ALTER TABLE [dbo].[Specialties] ADD  CONSTRAINT [DF_Specialties_SpecialtyId]  DEFAULT (newsequentialid()) FOR [SpecialtyId]
GO
ALTER TABLE [dbo].[States] ADD  DEFAULT (newsequentialid()) FOR [StateId]
GO
ALTER TABLE [dbo].[States] ADD  CONSTRAINT [DF_States_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[States] ADD  CONSTRAINT [DF_States_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TreatmentTeams] ADD  CONSTRAINT [DF_TreatmentTeams_TreatmentTeamId]  DEFAULT (newsequentialid()) FOR [TreatmentTeamId]
GO
ALTER TABLE [dbo].[UserAreaOfInterests] ADD  DEFAULT (newsequentialid()) FOR [UserAreaOfInterestId]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newsequentialid()) FOR [UserId]
GO
ALTER TABLE [dbo].[ForgotPasswordLinks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ForgotPasswordLinks_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ForgotPasswordLinks] CHECK CONSTRAINT [FK_dbo.ForgotPasswordLinks_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Logs_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_dbo.Logs_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[PhysicianCredentials]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhysicianCredentials_dbo.Credentials_CredentialsId] FOREIGN KEY([CredentialsId])
REFERENCES [dbo].[Credentials] ([CredentialsId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhysicianCredentials] CHECK CONSTRAINT [FK_dbo.PhysicianCredentials_dbo.Credentials_CredentialsId]
GO
ALTER TABLE [dbo].[PhysicianCredentials]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhysicianCredentials_dbo.Physicians_PhysicianId] FOREIGN KEY([PhysicianId])
REFERENCES [dbo].[Physicians] ([PhysicianId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhysicianCredentials] CHECK CONSTRAINT [FK_dbo.PhysicianCredentials_dbo.Physicians_PhysicianId]
GO
ALTER TABLE [dbo].[PhysicianDisciplines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhysicianDisciplines_dbo.Disciplines_DisciplineId] FOREIGN KEY([DisciplineId])
REFERENCES [dbo].[Disciplines] ([DisciplineId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhysicianDisciplines] CHECK CONSTRAINT [FK_dbo.PhysicianDisciplines_dbo.Disciplines_DisciplineId]
GO
ALTER TABLE [dbo].[PhysicianDisciplines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhysicianDisciplines_dbo.Physicians_PhysicianId] FOREIGN KEY([PhysicianId])
REFERENCES [dbo].[Physicians] ([PhysicianId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhysicianDisciplines] CHECK CONSTRAINT [FK_dbo.PhysicianDisciplines_dbo.Physicians_PhysicianId]
GO
ALTER TABLE [dbo].[PhysicianLanguages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhysicianLanguages_dbo.Languages_LanguageId] FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Languages] ([LanguageId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhysicianLanguages] CHECK CONSTRAINT [FK_dbo.PhysicianLanguages_dbo.Languages_LanguageId]
GO
ALTER TABLE [dbo].[PhysicianLanguages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhysicianLanguages_dbo.Physicians_PhysicianId] FOREIGN KEY([PhysicianId])
REFERENCES [dbo].[Physicians] ([PhysicianId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhysicianLanguages] CHECK CONSTRAINT [FK_dbo.PhysicianLanguages_dbo.Physicians_PhysicianId]
GO
ALTER TABLE [dbo].[PhysicianSpecialties]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhysicianSpecialties_dbo.Physicians_PhysicianId] FOREIGN KEY([PhysicianId])
REFERENCES [dbo].[Physicians] ([PhysicianId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhysicianSpecialties] CHECK CONSTRAINT [FK_dbo.PhysicianSpecialties_dbo.Physicians_PhysicianId]
GO
ALTER TABLE [dbo].[PhysicianSpecialties]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhysicianSpecialties_dbo.Specialties_SpecialtyId] FOREIGN KEY([SpecialtyId])
REFERENCES [dbo].[Specialties] ([SpecialtyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhysicianSpecialties] CHECK CONSTRAINT [FK_dbo.PhysicianSpecialties_dbo.Specialties_SpecialtyId]
GO
ALTER TABLE [dbo].[PhysicianTreatmentTeams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhysicianTreatmentTeams_dbo.Physicians_PhyicianId] FOREIGN KEY([PhyicianId])
REFERENCES [dbo].[Physicians] ([PhysicianId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhysicianTreatmentTeams] CHECK CONSTRAINT [FK_dbo.PhysicianTreatmentTeams_dbo.Physicians_PhyicianId]
GO
ALTER TABLE [dbo].[PhysicianTreatmentTeams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhysicianTreatmentTeams_dbo.TreatmentTeams_TreatmentTeamId] FOREIGN KEY([TreatmentTeamId])
REFERENCES [dbo].[TreatmentTeams] ([TreatmentTeamId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhysicianTreatmentTeams] CHECK CONSTRAINT [FK_dbo.PhysicianTreatmentTeams_dbo.TreatmentTeams_TreatmentTeamId]
GO
ALTER TABLE [dbo].[States]  WITH CHECK ADD  CONSTRAINT [FK_dbo.States_dbo.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[States] CHECK CONSTRAINT [FK_dbo.States_dbo.Countries_CountryId]
GO
ALTER TABLE [dbo].[UserAreaOfInterests]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserAreaOfInterests_dbo.AreaOfInterests_AreaOfInterestId] FOREIGN KEY([AreaOfInterestId])
REFERENCES [dbo].[AreaOfInterests] ([AreaOfInterestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAreaOfInterests] CHECK CONSTRAINT [FK_dbo.UserAreaOfInterests_dbo.AreaOfInterests_AreaOfInterestId]
GO
ALTER TABLE [dbo].[UserAreaOfInterests]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserAreaOfInterests_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAreaOfInterests] CHECK CONSTRAINT [FK_dbo.UserAreaOfInterests_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Countries_CountryId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.States_StateId] FOREIGN KEY([StateId])
REFERENCES [dbo].[States] ([StateId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.States_StateId]
GO
USE [master]
GO
